[features]
seeds = false
skip-lint = false

[programs.devnet]
privatescore = "HzsCUMh56mYkrR4WyuyYnrHE7rrLPEsAhSZA8nFQ6KYz"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
initialize = "npx ts-node migrations/initialize.ts"

[test]
startup_wait = 5000

[test.validator]
url = "https://devnet.helius-rpc.com/?api-key=YOUR_HELIUS_API_KEY"